.banner {
  width: 100%;
  background: blue;
  height: 5vh;
  transition-property: all;
  transition-duration: 0.2s;
  position: absolute;
  top: -10vh;
  z-index: 6;
}

.upload-file-btn {
  width: 100%;
}

.table-centered th, .table-centered td {
  text-align: center;
}
